Repository boostcamp-2020/Project06-A-Slack, pull requests merged in 2020-11, with the labels that each got.

#9 tsconfig 변경 및 소켓 기본 연결 코드 구현
  client/package-lock.json
  client/package.json
  client/src/App.tsx
  server/package-lock.json
  server/package.json
  server/src/app.ts
  server/src/config/index.ts
  server/src/lib/types/index.ts
  server/tsconfig.json
Labels: backend, frontend

#11 프로젝트 설정 변경 및 eslint 최소화
  client/.eslintrc.js
  client/babel.config.js
  client/package-lock.json
  client/package.json
  client/src/App.tsx
  client/tsconfig.json
  server/.eslintrc.js
  server/package-lock.json
  server/package.json
  server/src/app.ts
  server/src/config/index.ts
  server/src/lib/db.ts
  server/tsconfig.json
Labels: backend, frontend

#12 설정 관련 오류 수정 및 users mock api 구현
  client/.eslintrc.js
  client/.prettierrc
  client/src/App.tsx
  client/src/components/common/Header/Header.tsx
  client/src/components/common/index.ts
  client/src/components/index.ts
  client/src/utils/.keep
  client/tsconfig.json
  client/webpack.config.js
  server/.eslintrc.js
  server/.prettierrc
  server/package-lock.json
  server/package.json
  server/src/app.ts
  server/src/controllers/api/index.ts
  server/src/lib/utils.ts
  server/src/routes/api/index.ts
  server/src/routes/api/users/[userId]/index.ts
  server/src/routes/api/users/[userId]/userId.controller.ts
  server/src/routes/api/users/index.ts
  server/src/routes/api/users/users.controller.ts
  server/src/types/index.ts
  server/src/utils/constants.ts
  server/src/utils/db.ts
  server/src/utils/utils.ts
  server/tsconfig.json
Labels: backend, frontend

#13 swagger 적용
  client/webpack.config.js
  server/package-lock.json
  server/package.json
  server/src/app.ts
  server/src/config/index.ts
  server/src/routes/api/users/[userId]/userId.controller.ts
  server/src/routes/api/users/users.yaml
  server/src/routes/swagger.yaml
  server/src/utils/utils.ts
  server/tsconfig.json
Labels: backend

#15 threads mockup api, swagger 추가
  server/src/routes/api/index.ts
  server/src/routes/api/threads/[threadId]/index.ts
  server/src/routes/api/threads/[threadId]/threadId.controller.ts
  server/src/routes/api/threads/index.ts
  server/src/routes/api/threads/threads.controller.ts
  server/src/routes/api/threads/threads.yaml
Labels: api, backend

#17 threadId.yaml 파일 분리
  server/src/routes/api/threads/[threadId]/threadId.yaml
  server/src/routes/api/threads/threads.yaml
Labels: api, backend

#16 /api/auth, /api/users에 swagger 적용
  server/src/app.ts
  server/src/config/index.ts
  server/src/routes/api/auth/auth.controller.ts
  server/src/routes/api/auth/auth.yaml
  server/src/routes/api/auth/index.ts
  server/src/routes/api/index.ts
  server/src/routes/api/users/[userId]/userId.yaml
  server/src/routes/api/users/users.yaml
Labels: api, backend

#14 channel에 대한 mock 서버를 구현
  server/src/routes/api/channels/[channelId]/channelId.controller.ts
  server/src/routes/api/channels/[channelId]/channelsId.yaml
  server/src/routes/api/channels/[channelId]/index.ts
  server/src/routes/api/channels/channels.controller.ts
  server/src/routes/api/channels/channels.yaml
  server/src/routes/api/channels/index.ts
  server/src/routes/api/index.ts
  server/src/utils/utils.ts
Labels: api, backend

#18 스웨거 jwt 헤더 적용, jwt 로그인 구현, 회원가입 등
  server/.gitignore
  server/package-lock.json
  server/package.json
  server/src/app.ts
  server/src/config/index.ts
  server/src/db/index.ts
  server/src/middlewares/auth.middleware.ts
  server/src/models/user.ts
  server/src/public/imgs/etc/.keep
  server/src/public/imgs/profile/.keep
  server/src/routes/api/auth/auth.controller.ts
  server/src/routes/api/auth/auth.yaml
  server/src/routes/api/channels/[channelId]/channelsId.yaml
  server/src/routes/api/channels/channels.controller.ts
  server/src/routes/api/channels/channels.yaml
  server/src/routes/api/index.ts
  server/src/routes/api/threads/[threadId]/threadId.yaml
  server/src/routes/api/threads/threads.yaml
  server/src/routes/api/users/[userId]/userId.yaml
  server/src/routes/api/users/users.yaml
  server/src/routes/swagger.yaml
Labels: api, backend

#19 jwt access token, refresh token 구분 및 redis 적용
  client/.gitignore
  client/package-lock.json
  client/package.json
  client/src/App.tsx
  client/src/api/index.ts
  client/src/components/LoginBox/LoginBox.tsx
  client/src/components/index.ts
  client/src/index.tsx
  client/src/pages/Home.tsx
  client/src/pages/Login.tsx
  client/src/pages/NotFound.tsx
  client/src/pages/index.ts
  client/src/services/auth.service.ts
  client/src/services/index.ts
  client/src/services/user.service.ts
  client/src/store/.keep
  client/src/store/index.ts
  client/src/store/modules/auth.ts
  client/src/store/modules/index.ts
  client/src/store/sagas/authSaga.ts
  client/src/store/sagas/index.ts
  client/src/styles/.keep
  client/src/styles/index.ts
  client/src/types/index.ts
  client/src/types/user.ts
  client/webpack.config.js
  server/package-lock.json
  server/package.json
  server/src/app.ts
  server/src/config/index.ts
  server/src/lib/redis.ts
  server/src/middlewares/auth.middleware.ts
  server/src/routes/api/auth/auth.controller.ts
  server/src/routes/api/auth/auth.yaml
  server/src/routes/api/auth/index.ts
  server/src/routes/swagger.yaml
  server/src/types/index.ts
  server/src/utils/constants.ts
  server/src/utils/utils.ts
Labels: api, backend, 로그인, 회원가입

#20 디렉토리 구조에 맞게 작업 변경, 백엔드에서 채널 호출하는 부분 구현
  client/src/api/index.ts
  client/src/components/ChannelListBox/ChannelListBox.tsx
  client/src/components/index.ts
  client/src/pages/Home.tsx
  client/src/services/user.service.ts
  client/src/store/modules/channels.ts
  client/src/store/modules/index.ts
  client/src/store/sagas/channelSaga.ts
  client/src/store/sagas/index.ts
  server/src/models/channels.ts
  server/src/models/index.ts
  server/src/routes/api/channels/channels.controller.ts
Labels: api, backend, 왼쪽 사이드바 - 채널

#21 채널 부분 구현, axios 설정, 채널 api 이용하는 부분을 service 코드로 분리
  client/src/api/index.ts
  client/src/components/ChannelListBox/ChannelList/Channel/ChannelItem.tsx
  client/src/components/ChannelListBox/ChannelList/ChannelList.tsx
  client/src/components/ChannelListBox/ChannelListBox.tsx
  client/src/components/ChannelListBox/ChannelListHeader/ChannelListHeader.tsx
  client/src/hooks/useChannels.ts
  client/src/services/channels.service.ts
  client/src/store/modules/channels.ts
  client/src/store/sagas/channelSaga.ts
Labels: frontend, 왼쪽 사이드바 - 채널

#27 Thread 목록 불러오기 구현
  client/src/components/ThreadListBox/ThreadInputBox/ThreadInputBox.tsx
  client/src/components/ThreadListBox/ThreadList/ThreadItem/ThreadItem.tsx
  client/src/components/ThreadListBox/ThreadList/ThreadList.tsx
  client/src/components/ThreadListBox/ThreadListBox.tsx
  client/src/components/ThreadListBox/ThreadListHeader/ThreadListHeader.tsx
  client/src/components/index.ts
  client/src/pages/Home.tsx
  client/src/store/modules/index.ts
  client/src/store/modules/thread.ts
  client/src/store/sagas/index.ts
  client/src/store/sagas/threadSaga.ts
  client/src/types/index.ts
  client/src/types/thread.ts
  server/src/models/index.ts
  server/src/models/thread.ts
  server/src/routes/api/threads/threads.controller.ts
Labels: api, backend, feat, frontend

#23 로그인 관련 기능 추가 구현
  client/package-lock.json
  client/package.json
  client/src/api/index.ts
  client/src/components/LoginBox/LoginBox.tsx
  client/src/config/index.ts
  client/src/constants/index.ts
  client/src/hooks/index.ts
  client/src/hooks/useAuth.ts
  client/src/pages/Home.tsx
  client/src/pages/Login.tsx
  client/src/services/auth.service.ts
  client/src/store/modules/auth.ts
  client/src/store/sagas/authSaga.ts
  client/src/types/auth.ts
  client/src/types/index.ts
  client/src/types/user.ts
  client/src/utils/.keep
  client/src/utils/constants.ts
  client/src/utils/utils.ts
  server/src/models/user.ts
  server/src/routes/api/auth/auth.controller.ts
  server/src/routes/api/channels/channels.controller.ts
Labels: api, backend, frontend, 로그인

#28 axios 토큰 검증 로직 구현 및 로그인 화면, 헤더 일부 구현
  client/package-lock.json
  client/package.json
  client/src/App.tsx
  client/src/api/index.ts
  client/src/components/LoginBox/LoginBox.tsx
  client/src/components/common/Header/Header.tsx
  client/src/hooks/index.ts
  client/src/hooks/useAuth.ts
  client/src/hooks/useUser.ts
  client/src/pages/Home.tsx
  client/src/services/user.service.ts
  client/src/store/modules/auth.ts
  client/src/store/modules/index.ts
  client/src/store/modules/user.ts
  client/src/store/sagas/authSaga.ts
  client/src/store/sagas/index.ts
  client/src/store/sagas/userSaga.ts
  client/src/styles/index.ts
  client/src/styles/mixin.ts
  client/src/styles/styled.d.ts
  client/src/styles/theme.ts
  client/src/utils/utils.ts
  server/src/app.ts
  server/src/models/user.ts
  server/src/routes/api/auth/auth.controller.ts
  server/src/routes/api/users/[userId]/userId.controller.ts
  server/src/utils/constants.ts
Labels: api, backend, frontend, 로그인, 중앙 컨텐츠

#29 ThreadListHeader를 구현, 타입 추가, 파일명 수정, state이름 수정
  client/src/components/ChannelListBox/ChannelList/Channel/ChannelItem.tsx
  client/src/components/ChannelListBox/ChannelList/ChannelList.tsx
  client/src/components/ChannelListBox/ChannelListHeader/ChannelListHeader.tsx
  client/src/components/DetailBox/DeatailHeader/DetailHeader.tsx
  client/src/components/DetailBox/DetailBox.tsx
  client/src/components/ThreadListBox/ThreadListBox.tsx
  client/src/components/ThreadListBox/ThreadListHeader/ThreadListHeader.tsx
  client/src/components/index.ts
  client/src/hooks/index.ts
  client/src/hooks/useChannel.ts
  client/src/pages/Home.tsx
  client/src/services/channel.service.ts
  client/src/services/channels.service.ts
  client/src/store/modules/channel.ts
  client/src/store/modules/channels.ts
  client/src/store/modules/index.ts
  client/src/store/sagas/channelSaga.ts
  client/src/types/channelUsers.ts
  client/src/utils/utils.ts
  server/src/models/channels.ts
  server/src/routes/api/channels/[channelId]/channelId.controller.ts
Labels: backend, frontend, 중앙 컨텐츠

#34 Thread 조회 / SubThread 조회 구현 / thread 테이블 필드 변경
  client/src/components/SubThreadListBox/ParentThread/ParentThread.tsx
  client/src/components/SubThreadListBox/SubThreadList/SubThreadList.tsx
  client/src/components/SubThreadListBox/SubThreadListBox.tsx
  client/src/components/ThreadListBox/ThreadList/ThreadItem/ThreadItem.tsx
  client/src/components/ThreadListBox/ThreadList/ThreadList.tsx
  client/src/components/ThreadListBox/ThreadListBox.tsx
  client/src/components/common/ThreadItem/ThreadItem.tsx
  client/src/components/index.ts
  client/src/hooks/useSubThread.ts
  client/src/hooks/useThread.ts
  client/src/services/subThread.service.ts
  client/src/services/thread.service.ts
  client/src/store/modules/index.ts
  client/src/store/modules/subThread.ts
  client/src/store/modules/thread.ts
  client/src/store/sagas/index.ts
  client/src/store/sagas/subThreadSaga.ts
  client/src/store/sagas/threadSaga.ts
  client/src/types/thread.ts
  server/src/models/thread.ts
  server/src/routes/api/threads/[threadId]/index.ts
  server/src/routes/api/threads/[threadId]/threadId.controller.ts
  server/src/routes/api/threads/threads.controller.ts
Labels: backend, feat, frontend

#40 이메일 인증 코드 발송 구현, 공통 styled 요소 분리, 이메일 전송 페이지 구현, 로그인 암호화 적용 등
  client/package-lock.json
  client/package.json
  client/src/App.tsx
  client/src/api/index.ts
  client/src/components/CodeVerifyBox/CodeVerifyBox.tsx
  client/src/components/EmailBox/EmailBox.tsx
  client/src/components/LoginBox/LoginBox.tsx
  client/src/components/common/WarningIcon/WarningIcon.tsx
  client/src/components/common/index.ts
  client/src/components/index.ts
  client/src/font.scss
  client/src/fonts/NotoSansKR-Bold.otf
  client/src/fonts/NotoSansKR-Bold.woff
  client/src/fonts/NotoSansKR-Bold.woff2
  client/src/fonts/NotoSansKR-Light.otf
  client/src/fonts/NotoSansKR-Light.woff
  client/src/fonts/NotoSansKR-Light.woff2
  client/src/fonts/NotoSansKR-Medium.otf
  client/src/fonts/NotoSansKR-Medium.woff
  client/src/fonts/NotoSansKR-Medium.woff2
  client/src/fonts/NotoSansKR-Regular.otf
  client/src/fonts/NotoSansKR-Regular.woff
  client/src/fonts/NotoSansKR-Regular.woff2
  client/src/hoc/index.ts
  client/src/hooks/index.ts
  client/src/hooks/useSignupState.ts
  client/src/index.tsx
  client/src/pages/EmailVerifyPage.tsx
  client/src/pages/HomePage.tsx
  client/src/pages/LoginPage.tsx
  client/src/pages/NotFoundPage.tsx
  client/src/pages/index.ts
  client/src/services/auth.service.ts
  client/src/store/modules/auth.ts
  client/src/store/modules/index.ts
  client/src/store/modules/signup.ts
  client/src/store/sagas/authSaga.ts
  client/src/store/sagas/index.ts
  client/src/store/sagas/signupSaga.ts
  client/src/store/sagas/userSaga.ts
  client/src/styles/index.ts
  client/src/styles/mixin.ts
  client/src/styles/shared/form.ts
  client/src/styles/styled.d.ts
  client/src/styles/theme.ts
  client/src/utils/constants.ts
  client/src/utils/utils.ts
  deploy.sh
  server/package-lock.json
  server/package.json
  server/src/app.ts
  server/src/config/index.ts
  server/src/routes/api/auth/auth.controller.ts
  server/src/routes/api/auth/auth.yaml
  server/src/routes/api/auth/index.ts
  server/src/utils/constants.ts
  server/src/utils/utils.ts
Labels: api, backend, frontend, 로그인, 회원가입
